# Turso DB access tokens
# Note that the Turso URL should use https://...
TURSO_URL=
TURSO_KEY=

# Secret key to isolate session data
SESSION_KEY=your-secret-key

# Flask host and port
FLASK_RUN_HOST=localhost
FLASK_RUN_PORT=5000

