{#=====================================================
  404 missing resource page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Page Not Found!

{% endblock %}


{% block content %}

    <h1>Page Not Found!</h1>

    <p>Sorry, but that page could not be found</p>

{% endblock %}

