{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - About Flask and Jinja

{% endblock %}


{% block content %}

    <section id="tech-stack">

        <article>
            <header>
                <img src="/static/images/flask.webp" alt="Flask Logo">
            </header>

            <p>Flask is a <strong>web back-end application framework</strong>, written in <strong>Python</strong>. Created in 2010, Flask is regularly voted the most popular Python web framework. Applications that use Flask include Pinterest and LinkedIn.</p>

            <footer>
                <p>Find out more about <a href="https://flask.palletsprojects.com/en/stable/">Flask</a></p>
            </footer>
        </article>


        <article>
            <header>
                <img src="/static/images/jinja2.png" alt="Jinja Logo">
            </header>

            <p>Jinja is a <strong>templating engine</strong>. Special placeholders in the template allow data to be passed into the template and programmatic operations (e.g. conditions, loops, etc.) using a syntax similar to Python.</p>

            <footer>
                <p>Find out more about <a href="https://jinja.palletsprojects.com/en/stable/">Jinja</a></p>
            </footer>
        </article>


        <article>
            <header>
                <img src="/static/images/turso.png" alt="Turso Logo">
            </header>

            <p>Turso is a <strong>managed database platform</strong> that hosts SQLite-like databases which can be accessed from anywhere via a simple API. The Python API allows for <strong>SQL</strong> commands to be run, returning results as Python dicts.</p>

            <footer>
                <p>Find out more about <a href="https://tuso.tech/">Turso</a></p>
            </footer>
        </article>


        <article>
            <header>
                <img src="/static/images/picocss.png" alt="PicoCSS Logo">
            </header>

            <p>PicoCSS is a minimalist and lightweight <strong>starter stylesheet</strong> that prioritizes semantic syntax, making every HTML element responsive and elegant by default. It acts as a great starting point for any website.</p>

            <footer>
                <p>Find out more about <a href="https://picocss.com">PicoCSS</a></p>
            </footer>
        </article>

    </section>

{% endblock %}

