{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Homework Tracker

{% endblock %}


{% block content %}

    <h1>Homework Tracker</h1>

  
    <article>

        <ul>
            {% for subject in subjects %}

                <li>
                    <a href="/subject/{{ subject.id }}">
                        {{ subject.name }} - {{ subject.teacher }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

{% endblock %}

