{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Homework for {{ subject.name }}

{% endblock %}


{% block content %}

    <h1>Homework for {{ subject.name }}</h1>


    <article>

      <ul>
            {% for assessment in assessments %}

                <li>
                <a href="/assessment/{{ assessment.id }}"></a>
                    {{ assessment.name }} - {{ assessment.due_date }}
                    
                    {% if assessment.completed == 1 %}
                        <form class="action-button" method="post" action="/subject/{{ subject.id }}/assessment/{{ assessment.id }}/not.done">
                            <button>🗹</button>
                        </form>

                <a href="/subject/{{ subject.id }}/delete/assessment/{{ assessment.id }}" 
                    class="delete-button"
                    style="color:red;"
                    onclick="return confirm('Are you sure you want to delete {{ assessment.name }}?');">
                    🗑
                </a>

                    {% else %}
                        <form class="action-button" method="post" action="/subject/{{ subject.id }}/assessment/{{ assessment.id }}/done">
                            <button>☐</button>
                        </form>

                <a href="/subject/{{ subject.id }}/delete/assessment/{{ assessment.id }}" 
                    class="delete-button"
                    style="color:red;"
                    onclick="return confirm('Are you sure you want to delete {{ assessment.name }}?');">
                    🗑
                </a>


                    {% endif %}
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

    <article>

        <details>
            <summary>
                +    
            </summary>

            <h3>Add a New Assessment</h3>
            <form action="/subject/{{ subject.id }}/add/assessment" method="POST">

                <input
                    type="text"
                    name="assessment"
                    placeholder="Name of Assessment"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="0"
                    max="5"
                    placeholder="Priority of Assessment"
                    required
                >

                <input
                    type="text"
                    name="date"
                    placeholder="Due Date"
                    required
                >

                <button>Add the Thing</button>
            </form>

        </details>


    </article>


    <a role="button" href="/">Back to Subjects</a>

{% endblock %}

