/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* FORMS -------------------------------------------- */

form.action-button {
    display: inline;
}

form.action-button button {
    padding: 0.1em 0.3em;
}

/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

